* {
  box-sizing: border-box;
}

body {
  background-color: #deebf8;
  font-family: Karla, Inter;
  margin: 0;
  padding: 2rem;
}

main {
  border: 5px solid #4d5b9e21;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  position: relative;
}

.position-up {
  margin-top: -1rem;
}

.error-fetch {
  color: #ff4655;
  font-size: 1rem;
  font-weight: bold;
  margin-top: 1rem;
}

.button-reset {
  background-color: #9e4d54;
  border: none;
  border-radius: 20px;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  font-weight: lighter;
  margin-top: 1rem;
}

.button-reset-hidden {
  display: none;
}

.button-reset-disabled {
  background-color: grey;
  border: none;
  border-radius: 20px;
  color: white;
  cursor: not-allowed;
  font-size: 1rem;
  font-weight: lighter;
  margin-top: 1rem;
}

.button-reset-disabled:hover {
  cursor: not-allowed;
  outline: none;
}

.reset-tag:hover {
  background-color: #9e4d54;
  border-radius: 20px;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  font-weight: lighter;
  margin-top: 1rem;
  outline: 1px solid #4d5b9e;
  padding: 0 0.5rem 0.2rem 0.5rem;
}

.reset-tag:active {
  box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.25);
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

.space {
  margin-left: 20px;
}

hr {
  border: 1px solid #dbdef0;
  margin: 1rem 0;
}

button:focus {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

.button-mute {
  position: absolute;
  right: 0;
  top: 0;
}

.button-mute:active {
  box-shadow: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

button:hover {
  outline: 1px solid #4d5b9e;
}

button:active {
  box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.25);
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

.title-choice {
  color: #293264;
  font-size: 2rem;
  margin-bottom: -1rem;
}

.header-choice {
  color: #293264;
  font-size: 1.5rem;
}

.button-choice {
  background-color: #d6dbf5;
  border: transparent;
  border-radius: 20px;
  color: #293264;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
}

.button-selected {
  background-color: #293264;
  border: none;
  border-radius: 20px;
  color: #d6dbf5;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
}

.button-disabled {
  background-color: grey;
  border: none;
  border-radius: 20px;
  color: #d6dbf5;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
}

.button-disabled:hover {
  cursor: not-allowed;
  outline: none;
}

main.new-game > h1 {
  color: #293264;
}

.button-refresh {
  background-color: #9e4d54;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
}

.button-new-game {
  background-color: #4d5b9e;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
}

.button-restart {
  background-color: #9e4d54;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
}

.button-calculate {
  background-color: #679e4d;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
}
